--swiftversion 5.9
--indent 4
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--trimwhitespace always
--commas inline
--semicolons never
--header ignore
